<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Товары</title>
</head>
<body>
<div>
    <h3>Список</h3>
    <table>
        <tr>
            <td><p>Наименование</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        {{ range .}}
        <tr>
            <td><p>{{ .Name }}</p></td>
            <td><p>{{ .Price }}</p></td>
            <td><p><a href="/buy/{{ .Id }}">Купить</a></p></td>
        </tr>
        {{ end }}
    </table>
</div>
</body>
</html>
